<!-- ● Uma página para mostrar a todos os desenvolvedores do projeto, com uma
foto, uma breve descrição sobre cada pessoa e links para se conectar no
linkedin e no github de cada um; about.html  -->

<!DOCTYPE html>

<html lang = 'pt-br'>
    <head>

        <!-- O charset UTF-8 é o que usamos na web atual e faz parte de um padrão chamado Unicode. A ideia é que com ele possamos representar qualquer caractere de qualquer idioma. Ao usar o charset dentro da tag meta de nosso arquivo estamos dizendo ao navegador: quando for ler esse arquivo, use as regras do charset UTF-8. -->
        <meta charset="UTF-8">

        <!-- Isso dá ao navegador instruções sobre como controlar as dimensões e o dimensionamento da página.
        ".width=device-width" Define a largura da página para seguir a largura de tela do dispositivo (que vai variar dependendo do dispositivo)
        ".initial-scale=1.0" Define o nível inicial de zoom quando a página é carregada pela primeira vez pelo navegador -->
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


        <title>Funko Pop Vinyl - About</title>

    </head> 
    <header class = "header" id= "header">
        <nav class="nav container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">

                    <li class="nav__item">
                        <a href="/" class="nav__link">.home </a>
                    </li>

                    <li class="nav__item">
                        <a href="/catalog" class="nav__link">.catalog</a>
                    </li>

                    <li class="nav__item">
                        <a href="/about" class="nav__link">.about</a>
                    </li>

                    <li class="nav__item">
                        <a href="/login" class="nav__link"><i class="uil uil-cog"></i></a>
                    </li>    
                </ul>
            </div>
        </nav>

    </header>
    <body>
        <section class = "about" id = "about">
            <h1 class= "about__title">.about</h1>
            <div class="about__container">
                <div class="about__content">
                    <div class="about__img">
                        <img src="../static/img/janice.jpeg">
                    </div>
                    <div class="about__text">
                        <h2>Janice Caldeiro</h2>
                        <p>Meu nome é Janice, tenho 33 anos e sou Dev Back End em formação. Sou do tipo que coloco paixão em tudo que faço e me dedico ao máximo para fazer o melhor possível!</p>
                    </div>
                    <div class="about__icons">
                        <a href= "https://github.com/janicecaldeira" target="_blank">
                            <i class="uil uil-github about-icon"></i>  
                        </a>
                        <a href= "https://www.linkedin.com/in/janicecaldeira/" target="_blank">
                            <i class="uil uil-linkedin about-icon"></i> 
                        </a>
                    </div>
                </div>    

                <div class="about__content">
                    <div class="about__img">
                        <img src="../static/img/mirian.jpeg">
                    </div>
                    <div class="about__text">
                        <h2>Mirian Amorim</h2>
                        <p>Meu nome é Mirian. Sou apaixonada por tecnologia desde essa foto aí rs rs. Hoje com 31 anos estou em transição de carreira para desenvolvimento de sistemas.</p>
                    </div>
                    <div class="about__icons">
                        <a href= "https://github.com/MirianAmorim" target="_blank">
                            <i class="uil uil-github about-icon"></i>  
                        </a>
                        <a href= "https://www.linkedin.com/in/mirian-amorim-91409029/" target="_blank">
                            <i class="uil uil-linkedin about-icon"></i> 
                        </a>
                    </div>
                </div>

                <div class="about__content">
                    <div class="about__img">
                        <img src="../static/img/danilo.jpg">
                    </div>
                    <div class="about__text">
                        <h2>Danilo Machinez</h2>
                        <p>Um jovem de 22 anos, cheio de sonhos, com muita força de vontade, teimoso e curioso. Buscando seu espaço na área de Dev com muita paixão. Prazer, Danilo.</p>
                    </div>
                    <div class="about__icons">
                        <a href= "https://github.com/danmachinez" target="_blank">
                            <i class="uil uil-github about-icon"></i>  
                        </a>
                        <a href= "https://www.linkedin.com/in/dmachinez/" target="_blank">
                            <i class="uil uil-linkedin about-icon"></i> 
                        </a>
                    </div>
                    
                </div>

                <div class="about__content">
                    <div class="about__img">
                        <img src="../static/img/vander.jpg">
                    </div>
                    <div class="about__text">
                        <h2>Vander Xavier</h2>
                        <p>Resolvedor de problemas por natureza, pai,  músico por paixão, educador social por vivência,Tudo isso dentro de uma cabeça sonhadora com 32 anos.
                        </p>
                    </div>
                    <div class="about__icons">
                        <a href= "https://github.com/Vanderxavierb" target="_blank">
                            <i class="uil uil-github about-icon"></i>  
                        </a>
                        <a href= "https://www.linkedin.com/in/vanderson-xavier-b04409214/" target="_blank">
                            <i class="uil uil-linkedin about-icon"></i> 
                        </a>
                    </div>
                    
                </div>

                <div class="about__content">
                    <div class="about__img">
                        <img src="../static/img/Max.jpg">
                    </div>
                    <div class="about__text">
                        <h2>Maximiliano Gonzalo LyFe</h2>
                        <p>Meu nome é Maximiliano, tenho 28 anos e sou Dev Full Stack em formação. Sou uma pessoa predisposta e gosto de me destacar em tudo o que faço.</p>
                    </div>
                    <div class="about__icons">
                        <a href= "https://github.com/maxlyfe" target="_blank">
                            <i class="uil uil-github about-icon"></i>  
                        </a>
                        <a href= "https://www.linkedin.com/in/maxlyfe/" target="_blank">
                            <i class="uil uil-linkedin about-icon"></i> 
                        </a>
                    </div>
                    
                </div>

                

                
            </div>
        
                
        
            



        </section>

        <section>

        </section>
    </body>

    
    <footer class="footer__container">

        <div class="footer-right">

            <a href="https://github.com/janicecaldeira/ProjetoFinal/tree/main" ><i class="uil uil-github"></i></a>

        </div>

        <div class="footer-left">

            <div class="footer-links">
                <a href="/">.home</a>
                <a href="/catalog">.catalog</a>
                <a href="/about">.about</a>
                <a href="/login">.adm</a>
            </div>

            <span>Grupo 2 &copy; 2021</span>
        </div>

    </footer>
    

</html>