<!-- ● Uma página para cadastrar um novo item no catálogo; comando cadastrar adm.html
● Uma página para editar um item do catálogo; comando editar adm.html
● Uma modal para confirmar a deleção de um item do catálogo; comando confirmar deleção adm.html -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/adm.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Funko Pop Vinyl | Adm</title>
</head>

<header class = "header" id= "header">
    <nav class="nav container">
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">

                <li class="nav__item">
                    <a href="/" class="nav__link">.home </a>
                </li>

                <li class="nav__item">
                    <a href="/catalog" class="nav__link">.catalog</a>
                </li>

                <li class="nav__item">
                    <a href="/about" class="nav__link">.about</a>
                </li>   
            </ul>
        </div>
    </nav>

</header>

<body>

    <article id="msg">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </article>

<section id="adm">
    <p>Área reservada para a página ADM</p>
</section>

<footer class="footer__container">

    <div class="footer-right">

        <a href="https://github.com/janicecaldeira/ProjetoFinal/tree/main" target="_blank"><i class="uil uil-github"></i></a>

    </div>

    <div class="footer-left">

        <div class="footer-links">
            <a href="/">.home</a>
            <a href="/catalog">.catalog</a>
            <a href="/about">.about</a>
            <a href="/login">.admin</a>
        </div>

        <span>Grupo 2 &copy; 2021</span>
    </div>

</footer>

<script src="../static/js/adm.js"></script>

</body>

</html>