<!-- ● Uma página para cadastrar um novo item no catálogo; comando cadastrar admin.html
● Uma página para editar um item do catálogo; comando editar admin.html
● Uma modal para confirmar a deleção de um item do catálogo; comando confirmar deleção admin.html -->


<!DOCTYPE html>
<html>
    <head>

    </head>
    <header>

    </header>


    <body>
        <nav>

        </nav>

        <section>

        </section>

        <section>

        </section>
    </body>

    <footer>
        
    </footer>

</html>