<!-- ● Uma página para cadastrar um novo item no catálogo; comando cadastrar admin.html
● Uma página para editar um item do catálogo; comando editar admin.html
● Uma modal para confirmar a deleção de um item do catálogo; comando confirmar deleção admin.html -->


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "../static/css/style.css">
        <title>Admin</title>
    </head>
    <header>

    </header>


    <body>
        <nav>

        </nav>

        <section class="form">
            <form>
                <label for="user">Usuário: </label>
                <input type="text" id="user" name="user">
                <label for="password">Senha: </label>
                <input type="password" id="password" name="password">
                <button type="submit" id="entrar">Entrar</button>
            </form>

            <audio controls class="audio">
                <source src="../static/audio/mariobros.mp3" type="audio/mpeg">
            </audio>

        </section>

        <section>

        </section>

        <script src='../static/js/script.js'></script>
    </body>

    <footer>
        
    </footer>

</html>