<!-- ● Uma página para a listagem dos itens do catálogo; catalog.html -->


<!DOCTYPE html>

<html class = "html_catalog" lang = 'pt-br'>
    <head>

        <!-- O charset UTF-8 é o que usamos na web atual e faz parte de um padrão chamado Unicode. A ideia é que com ele possamos representar qualquer caractere de qualquer idioma. Ao usar o charset dentro da tag meta de nosso arquivo estamos dizendo ao navegador: quando for ler esse arquivo, use as regras do charset UTF-8. -->
        <meta charset="UTF-8">

        <!-- Isso dá ao navegador instruções sobre como controlar as dimensões e o dimensionamento da página.
        ".width=device-width" Define a largura da página para seguir a largura de tela do dispositivo (que vai variar dependendo do dispositivo)
        ".initial-scale=1.0" Define o nível inicial de zoom quando a página é carregada pela primeira vez pelo navegador -->
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


        <title>Funko Pop Vinyl - Catalog</title>

    </head> 
    <header class = "header" id= "header">
        <nav class="nav container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">

                    <li class="nav__item">
                        <a href="/" class="nav__link">.home </a>
                    </li>

                    <li class="nav__item">
                        <a href="/catalog" class="nav__link">.catalog</a>
                    </li>

                    <li class="nav__item">
                        <a href="/about" class="nav__link">.about</a>
                    </li>

                    <li class="nav__item">
                        <a href="/login" class="nav__link"><i class="uil uil-cog"></i></a>
                    </li>    
                </ul>
            </div>
        </nav>

    </header>
    <body>
        
        <section class = "catalog" id = "catalog">
            {% for funko in funkos %}
            <div class="catalog__container">
                <div class="card">
                    <div class="imgbox">
                        <img src="{{funko.funkoImg}}">
                    </div>
                    <div class="catalog__content">
                        <audio class="audio">
                            <source src="{{funko.music}}" type="audio/mpeg">
                        </audio>
                        <h2>{{funko.funkoName}}</h2>
                        <p>{{funko.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    
        <script src="../static/js/adm.js"></script>
    </body>


    <footer class="footer__container">

        <div class="footer-right">

            <a href="https://github.com/janicecaldeira/ProjetoFinal/tree/main" target="_blank"><i class="uil uil-github"></i></a>

        </div>

        <div class="footer-left">

            <div class="footer-links">
                <a href="/">.home</a>
                <a href="/catalog">.catalog</a>
                <a href="/about">.about</a>
                <a href="/login">.adm</a>
            </div>

            <span>Grupo 2 &copy; 2021</span>
        </div>

    </footer>
    <script src="../static/js/script.js"></script>

</html>