<!-- ● Uma página para autenticar o usuário antes de liberar o acesso a adm; login.html -->


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "../static/css/login.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" >
        <title>Login</title>
    </head>

    <body>

        <section id="login">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
          
            <form action='/auth' method="POST">
                <a href="/">
                    <i class="uil uil-house-user"></i>
                </a>
            
                <h1>Acesso a área administrativa</h1>
                <input type="text" placeholder="Digite o usuário" id="user" name="user">
                <input type="password" placeholder="Digite a senha" id="senha" name="senha">
                <button type="submit">Entrar</button>
            </form>

            <a href="/logout"><li>
                <i class="uil uil-angle-double-left"></i>
                Sair</li>
            </a> 
        </section>
        
        </section>

      
    </body>

    <footer>
        
    </footer>

</html>